@font-face {
    font-family: DinLight;
    font-weight: 100;
    src: url(assets/fonts/DINWeb-Light.woff);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .01);
  }
  
  @font-face {
    font-family: Din;
    src: url(assets/fonts/DINWeb.woff)
  }
  
  @font-face {
    font-family: DinBold;
    font-weight: 700;
    src: url(assets/fonts/DINWeb-Bold.woff)
  }

  *{
    min-height: 0;
    min-width: 0;
  }
  
  body {
    background-color: #F1EDEA;
    color: #1C1C1C;
    font-family: Din, "PT Sans", Roboto, sans-serif;
    margin: 0 auto;
  }
  
  
  /* Common Elements */
  
  
  /* Used to add colour around the edges of elements */
  
  .containing-div {
    background-color: #F1EDEA;
    margin: 1rem;
  }
  
  
  /* Will be used elsewhere. Defining these two now */
  
  .white-button {
    color: #FFFFFF;
    background-color: Transparent;
    border: 1px solid #FFFFFF;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 10rem;
  }

  .white-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .white-button a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Din, "PT Sans", Roboto, sans-serif;
    text-align: center;
  }
  
  .gold-button {
    color: #9B8730;
    background-color: Transparent;
    border: 1px solid #9B8730;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1rem 0 0 0;
  }

  .gold-button:hover {
    background-color: rgba(155, 135, 48, 0.3)
  }
  
  .gold-button a {
    text-decoration: none;
    color: #9B8730;
    font-family: Din, "PT Sans", Roboto, sans-serif;
  }
  
  
  /* End of Common Elements */
  
  
  /* Top section */
  
  .navbar {
    padding: 0.5rem 0 0.5rem 0;
    background: #1c1c1c;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .navbar img {
    width: 100%;
  }

  .navbar a {
    width: 100%;
    height: 100%;
  }
  
  #logo {
    display: none;
    align-self: flex-start;
  }
  
  #logo-horizontal {
    width: 100%;
    height: 100%;
  }

  #logo-horizontal-standard img{
    width: 100%;
    height: 100%;
  }
  
  .grouped-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }
  
  .navbar .grouped-icons #search-icon {
    width: 25%;
    height: 25%;
    margin: 0 0.5rem 0 0.5rem;
    cursor: pointer;
  }
  
  .grouped-icons #search-box {
    display: none;
    width: 80%;
    background: #575756;
    color: #1C1C1C;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
  }

  .main-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
  
  #main-image-desktop {
    display: none
  }

  .main-image img {
    width: 100%;
    height: 100%;
  }

  .main-image-menu {
    float: left;
    position: absolute;
    z-index: 1100;
    display: flex;
  }
  
  .main-image .trending {
    margin: 1rem;
  }
  
  .main-image .back-catalogue {
    display: none;
    margin: 1rem;
  }
  
  .main-image .botw {
    display: none;
    margin: 1rem;
  }
  
  .main-image .the-blog {
    display: none;
    margin: 1rem;
  }
  

  /* Hamburger Menu */
 
  .navbar .hamburger-menu {
    overflow: hidden;
    cursor: pointer;
    margin: 0 0.25rem 0 0.5rem;
  }
 
  .hamburger-desktop{
    display: none;
    font-size: 2rem;
    padding: 1rem 2rem 0.5rem 0;
    margin: 0;
    text-transform: uppercase;
  }

  .navbar .hamburger-menu .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #575756;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .hamburger-menu .menu-links {
    display: none;
    background-color: #1C1C1C;
    margin: 2rem 30000rem 0 0;
  }
  
  .hamburger-menu li {
    margin: 1rem 0 0 0;
    padding: 1rem 0 0 0;
  }

  .hamburger-menu a {
    text-decoration: none;
    color: #A9A9A9;
    cursor: pointer;
    padding: 1rem 1rem 0 0;
  }
    
  /* Rotate first bar */
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  
  /* Fade out the second bar */
  
  .change .bar2 {
    opacity: 0;
  }
  
  
  /* Rotate last bar */
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  .change .navbar .logo-horizontal{
    display: none;
  }

  /* Video DIV */
  
  .video-content {
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    background-color: #FFFFFF;
  }

  .video-actual {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .video-content img {
    width: 100%;
  }
  
  .video-content-text {
    margin: 1rem 0 1rem 0;
  }
  
  .video-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-icon {
    position: absolute;
  }
  
  .video-content-text h2 {
    font-size: 2rem;
    border-bottom: 1px solid #1C1C1C
  }
  
  .video-content-text p {
    margin: 1rem 0 0 0;
  }

  video {
    width: 100%;
    height: 100%;
  }


  /* Blog DIV */

  .blog {
    padding: 1rem;
    margin: 1rem auto;
    background-color: #FFFFFF;
  }
  
  .blog h2 {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
    border-bottom: 1px solid #1C1C1C
  }
  
  .blog h3 {
    font-size: 1.5rem;
  }

  .blog p {
    margin: 0 0 1rem 0;
  }
  
  .blog a, .blog-page a {
    color: #1C1C1C;
    text-decoration: none;
  }

  .blog ul {
    margin: 1rem;
    list-style: initial;
  }
  
  .line-4 {
    display: none;
  }
  
  /* Sign Up DIV */
  
  .mail-signup {
    padding: 1rem;
    margin: 1rem auto;
    background-color: #FFFFFF;
    text-align: center;
  }
  
  .mail-signup h1 {
    font-size: 2rem;
    margin: 1rem;
  }
  
  .mail-signup p {
    font-size: 1rem;
  }
  
  .mail-signup form {
    display: flex;
    flex-direction: column;
  }
  
  input[type=text],
  [type=email],[name=message] {
    border: none;
    border-bottom: 1px solid #1C1C1C;
    margin: 0.5rem auto;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* Footer */
  
  footer {
    padding: 1rem;
    margin: 1rem 0 0 0;
    background-color: #E7E2DF;
    font-size: 0.8rem;
  }
  
  footer ul {
    margin: 1rem 0 0 0;
    display: flex;
    list-style: none
  }
  
  footer li {
    margin: 0 0.5rem 0 0;
  }
  
  footer li~li {
    border-left: 0.05rem solid #1C1C1C;
    padding-left: 0.4rem;
  }
  
  footer a {
    text-decoration: none;
    color: #1C1C1C;
  }
  
  .social-media {
    margin: 1rem 0 1rem 0;
  }
  
  .social-media li {
    border-left: 0;
  }
  
  .social-media li a {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: #FFFFFF no-repeat center center;
    border-radius: 50%;
    text-align: left;
    text-indent: 200%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .social-media .twitter {
    background-image: url(assets/social/twitter.png);
    background-size: 1.5rem;
  }
  
  .social-media .instagram {
    background-image: url(assets/social/instagram.png);
    background-size: 1.5rem;
  }
  
  .social-media .pintrest {
    background-image: url(assets/social/pintrest.png);
    background-size: 1.5rem;
  }

  .recording-text {
    text-align: center;
  }

  .recording-text p {
    letter-spacing: 0.15rem;
    cursor: pointer;
  }

  .recording-text #band-name, #band-description {
    display: none;
  }

  #band-description {
    letter-spacing: 0;
  }

  .containing-div .contact-us p{
    letter-spacing: 0;
  }

  .containing-div .contact-us form textarea{
    width: 100%;
    height: 6rem;
  }

  /* Video Slider */
  #slider {
  width: 95%;
  }

  .video-content .play-icon-small {
    position: absolute;
    width: 0.5%;
  }

  #slider .containing-div {
    height: 2%;
    width: 2%;
  }

  #slider .video-content {
    top: 0px;
    left: 0px;
    padding: 0;
    z-index: -10;
    margin: 1rem;
  }

  #slider .video-content-text {
    position: relative;
    top: -3rem;
    left: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  #slider .containing-div .video-content-text h2 {
    font-size: 1.5rem;
    border-top: 0;
    border-bottom: 0;
  }

  #slider .containing-div .video-content-text .video-title-link {
    text-decoration: none;
    color: #000000;
  }

  #slider .containing-div .video-content-text .gold-button {
    padding-left: 30%;
    padding-right: 30%;
  }

  /* Media Query for Responsive Design*/

  /* Tablet */
  @media only screen and (min-width: 46.8rem) and (max-width: 64rem) {

  /* Main Image */

  .main-image  .the-blog {
    display: inline-block;
  }

  .main-image .back-catalogue {
    display: inline-block;
  }

  /* End of Main Image */

  .line-1, .line-2, .line-3, .line-4 {
    display: block;
  }

  .three-dots {
    display: block;
  }

    /* Navbar */
  .navbar .hamburger-menu .bar1,
  .bar2,
  .bar3 {
    width: 65px;
    height: 10px;
    background-color: #575756;
    margin: 12px 0;
    transition: 0.4s;
  }

  .recording-text {
    text-align: center;
  }

  .recording-text p {
    letter-spacing: 1rem;
    cursor: pointer;
  }

  .recording-text #band-name, #band-description {
    display: none;
  }

  #band-description {
    letter-spacing: 0;
  }

  }

  /* Small Screens - iPad Pro, etc*/
  @media only screen and (min-width: 64rem) and (max-width: 75rem) {

    .white-button {
      width: 20%;
    }

    /*Navbar */
    .navbar {
      justify-content: space-between;
      padding: 0;
    }

    #logo-horizontal {
      display: none;
    }

    #logo-horizontal-standard img{
      width: 50%;
    }

    #logo {
      display: inline-block;
      position: absolute;
      width: 40%;
      left: 0%;
    }

    .hamburger-menu {
      order: 3;
    }

    .grouped-icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
    }
    
    .navbar .grouped-icons #search-icon {
      width: 8%;
      height: 8%;
      margin: 0 0.5rem 0 0.5rem;
      cursor: pointer;
      filter: brightness(1000%);
    }
    
    .grouped-icons #search-box {
      display: none;
      width: 80%;
      background: #575756;
      color: #1C1C1C;
      margin: 0;
      padding: 0.5rem 0 0.5rem 0;
    }

    /* For index page navbar */
    .index-page-icons {
     width: 100%;
    }

    .navbar .index-page-icons #search-icon {
      width: 2.6%;
    }
    /* End of Index-only navbar */

    .hamburger-desktop {
      display: block;
      color: white;
    }

    .hamburger-menu .bar1, .bar2, .bar3 {
      display: none;
    }

    .hamburger-menu .menu-links {
      margin: 0;
      padding: 1rem;
      right: 0%;
      width: 10rem;
      z-index: 99;
      position: absolute;
    }

    /* End of Navbar */

    /* Main Image */
    .main-image .back-catalogue {
      display: inline-block;
    }

    .main-image  .botw {
      display: inline-block;
    }

    .main-image  .the-blog {
      display: inline-block;
    }

    #main-image-desktop {
      display: inline-block
    }

    #main-image-mobile {
      display: none
    }

    /* End of Main Image */

    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 4rem 0 4rem;
    }

    aside {
      margin: 1rem 0 0 0;
    }

    .video1-div{
      grid-column: 2 / 3;
      grid-row: 1;
      margin: 3rem 3rem 3rem 1.5rem;
    }

    .video2-div{
      grid-column: 2 / 1 span;
      grid-row: 2;
      margin: 0 3rem 0 1.5rem;
    }

    .video-content {
      padding: 1rem;
      margin: 1rem 0 1rem 0;
      background-color: #FFFFFF;
    }

    .video-actual {
      background-color: #F1EDEA;
    }

    .video-content .play-icon{
      width: 40%;
    }

    .video-description {
      width: 88.5%;
      margin: 0 auto;
      padding: 0;
    }

    video {
      width: 90%;
      height: 90%;
    }

    .blog-page {
      display: flex;
      flex-direction: column;
      grid-column: 1 / 2 span;
      grid-row: 1 / 2 span;
    }

    .blog-div-actual {
      margin: 3rem 10rem 0 10rem;
    }

    .blog-div {
      grid-column: 1 / 1 span;
      grid-row: 1 / 2 span;
      margin: 3rem 1.5rem 0 3rem;
    }

    .blog {
      padding: 2rem;
    }

    .line-1, .line-2 {
      display: block;
    }

    .line-3, .line-4 {
      display: none;
    }

    .three-dots {
      display: block;
    }

    .mail-div {
      grid-column: 1 / 2 span;
      grid-row: 3;
      margin: 3rem 3rem 0 3rem;
    }

    .mail-signup {
      padding: 3rem 10rem 3rem 10rem;
    }

    /* Footer */
    .footer-div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 12rem 0 12rem;
    }

    .social-media-div {
      grid-column: 1 / 1 span;
    }

    .footer-links-div {
      grid-column: 2 / 1 span;
    }

    .footer-links-div ul {
      display: block;
    }

    .footer-links2-div ul {
      display: block;
    }

    footer ul li {
      border-left: 0;
      padding: 0;
    }

    .footer-links2-div {
      grid-column: 3 / 1 span;
    }

    .bottom-div {
      margin: 1rem 0 0 0;
      border-top: 0.05rem solid #1C1C1C;
      grid-column: 1 / 3 span;
      grid-row-start: 3;
    }

    /* Recording Index */

    .recordingindex-div {
      grid-column: 1 / 2 span;
    }

    .recording-text {
      text-align: center;
    }

    .recording-text p {
      letter-spacing: 1rem;
      cursor: pointer;
    }

    .recording-text #band-name, #band-description {
      display: none;
    }

    #band-description {
      letter-spacing: 0;
    }

    /* Video Slider */

    #slider {
      grid-column: 1 / 2 span;
      width: 100%;
      margin: 0 auto;
    }

    #slider .containing-div {
      margin: 0;
    }

    #slider h2 {
      font-size: 1.5rem;
      border-bottom: 0;
      padding: 0.5rem 0 0 0;
    }

  }

  /* Slightly Larger Screens */
  @media only screen and (min-width: 75rem) and (max-width: 119rem) {
    .white-button {
      width: 20%;
    }

    /*Navbar */
    .navbar {
      justify-content: space-between;
      padding: 0;
    }

    #logo-horizontal {
      display: none;
    }

    #logo-horizontal-standard img{
      width: 50%;
    }

    #logo {
      display: inline-block;
      position: absolute;
      width: 40%;
      left: 0%;
    }

    .hamburger-menu {
      order: 3;
    }

    .grouped-icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
    }
    
    .navbar .grouped-icons #search-icon {
      width: 8%;
      height: 8%;
      margin: 0 0.5rem 0 0.5rem;
      cursor: pointer;
      filter: brightness(1000%);
    }
    
    .grouped-icons #search-box {
      display: none;
      width: 80%;
      background: #575756;
      color: #1C1C1C;
      margin: 0;
      padding: 0.5rem 0 0.5rem 0;
    }

    .hamburger-desktop {
      font-size: 2rem;
      display: block;
      color: white;
    }

    .hamburger-menu .bar1, .bar2, .bar3 {
      display: none;
    }

    .hamburger-menu .menu-links {
      margin: 0;
      padding: 1rem;
      right: 0%;
      width: 10rem;
      z-index: 99;
      position: fixed;
    }

    /* For index page navbar */
    .index-page-icons {
      width: 100%;
     }

    .navbar .index-page-icons #search-icon {
      width: 2.6%;
    }
    /* End of Index-only navbar */

    /* End of Navbar */

    /* Main Image */
    .main-image .back-catalogue {
      display: inline-block;
    }

    .main-image  .botw {
      display: inline-block;
    }

    .main-image  .the-blog {
      display: inline-block;
    }

    #main-image-desktop {
      display: inline-block;
    }

    #main-image-mobile {
      display: none;
    }

    /* End of Main Image */

    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 6rem 0 6rem;
    }

    /* Video */
    aside {
      margin: 1rem 0 0 0;
    }

    .video1-div{
      grid-column: 2 / 3;
      grid-row: 1;
      margin: 3rem 3rem 3rem 1.5rem;
    }

    .video2-div{
      grid-column: 2 / 1 span;
      grid-row: 2;
      margin: 0 3rem 0 1.5rem;
    }

    .video-content .play-icon{
      width: 40%;
    }

    .video-description {
      width: 88.5%;
      margin: 0 auto;
      padding: 0;
    }

    .video-actual {
      background-color: #F1EDEA;
    }

    video {
      width: 90%;
      height: 90%;
    }

    .blog-page {
      display: flex;
      flex-direction: column;
      grid-column: 1 / 2 span;
      grid-row: 1 / 2 span;
    }

    .blog-div-actual {
      margin: 3rem 10rem 0 10rem;
    }
	
    .blog-div {
      grid-column: 1 / 1 span;
      grid-row: 1 / 2 span;
      margin: 3rem 1.5rem 0 3rem;
    }

    .blog {
      padding: 4rem;
    }

    .line-1, .line-2, .line-3 {
      display: block;
      font-size: 1.5rem;
    }

    .line-4 {
      display: none;
    }

    .three-dots {
      display: block;
    }

    .mail-div {
      grid-column: 1 / 2 span;
      grid-row: 3;
      margin: 3rem 3rem 0 3rem;
    }

    .mail-signup {
      padding: 3rem 10rem 3rem 10rem;
    }

    /* Footer */
    .footer-div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 12rem 0 12rem;
    }

    .social-media-div {
      grid-column: 1 / 1 span;
    }

    .footer-links-div {
      grid-column: 2 / 1 span;
    }

    .footer-links-div ul {
      display: block;
    }

    .footer-links2-div ul {
      display: block;
    }

    footer ul li {
      border-left: 0;
      padding: 0;
    }

    .footer-links2-div {
      grid-column: 3 / 1 span;
    }

    .bottom-div {
      margin: 1rem 0 0 0;
      border-top: 0.05rem solid #1C1C1C;
      grid-column: 1 / 3 span;
      grid-row-start: 3;
    }

    /* Recording Index */

    .recordingindex-div {
      grid-column: 1 / 2 span;
    }

    .recording-text {
      text-align: center;
    }

    .recording-text p {
      letter-spacing: 1rem;
      cursor: pointer;
    }

    .recording-text #band-name, #band-description {
      display: none;
    }

    #band-description {
      letter-spacing: 0;
    }

    /* Video Slider */

    #slider {
      grid-column: 1 / 2 span;
      width: 100%;
      margin: 0 auto;
    }

    #slider .containing-div {
      margin: 0;
    }

    #slider h2 {
      font-size: 1.5rem;
      border-top: 1px solid #1C1C1C;
      border-bottom: 0;
      padding: 0.5rem 0 0 0;
    }
  }

  /* Fix scaling issues on long blogs */
  @media only screen and (min-width: 75rem) and (max-width: 90rem) { 
    .line-1, .line-2 {
      font-size: 1.25rem;
      display: block;
    }

    .line-3, .line-4 {
      display: none;
    }
  }

  /* Full Screen - 1080p */
  @media only screen and (min-width: 119rem) {

    .white-button {
      width: 20%;
    }

    /*Navbar */
    .navbar {
      justify-content: space-between;
      padding: 0;
    }

    #logo-horizontal {
      display: none;
    }

    #logo-horizontal-standard img{
      width: 50%;
    }

    #logo {
      display: inline-block;
      position: absolute;
      width: 40%;
      left: 0%;
    }

    /* Hambuger Menu Desktop */

    .hamburger-menu {
      order: 3;
    }

    .grouped-icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
    }
    
    .navbar .grouped-icons #search-icon {
      width: 8%;
      height: 8%;
      margin: 0 0.5rem 0 0.5rem;
      cursor: pointer;
      filter: brightness(1000%);
    }
    
    .grouped-icons #search-box {
      display: none;
      width: 80%;
      background: #575756;
      color: #1C1C1C;
      margin: 0;
      padding: 0.5rem 0 0.5rem 0;
    }

    .hamburger-desktop {
      font-size: 2rem;
      display: block;
      color: white;
    }

    .hamburger-menu .bar1, .bar2, .bar3 {
      display: none;
    }

    .hamburger-menu .menu-links {
      margin: 0;
      padding: 1rem;
      right: 0%;
      width: 10rem;
      z-index: 99;
      position: absolute;
    }

    
    /* For index page navbar */
    .index-page-icons {
      width: 100%;
     }

    .navbar .index-page-icons #search-icon {
      width: 2.6%
    }
    /* End of Index-only navbar */


    /* End of Navbar */

    /* Main Image */
    .main-image .back-catalogue {
      display: inline-block;
    }

    .main-image  .botw {
      display: inline-block;
    }

    .main-image  .the-blog {
      display: inline-block;
    }

    #main-image-desktop {
      display: inline-block;
    }

    #main-image-mobile {
      display: none;
    }

    /* End of Main Image */

    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 10rem 0 10rem;
    }

    /* Video */
    aside {
      margin: 1rem 0 0 0;
    }

    .video1-div{
      grid-column: 2 / 3;
      grid-row: 1;
      margin: 3rem 3rem 3rem 1.5rem;
    }

    .video2-div{
      grid-column: 2 / 1 span;
      grid-row: 2;
      margin: 0 3rem 0 1.5rem;
    }

    .video-content .play-icon{
      width: 40%;
    }

    .video-actual {
      background-color: #F1EDEA;
    }

    .video-description {
      width: 88.5%;
      margin: 0 auto;
      padding: 0;
    }

    video {
      width: 90%;
      height: 90%;
    }

    .blog-page {
      display: flex;
      flex-direction: column;
      grid-column: 1 / 2 span;
      grid-row: 1 / 2 span;
    }

    .blog-div-actual {
      margin: 3rem 10rem 0 10rem;
    }

    .blog-div {
      grid-column: 1 / 1 span;
      grid-row: 1 / 2 span;
      margin: 3rem 1.5rem 0 3rem;
    }

    .blog {
      padding: 4rem;
    }

    .blog h2 {
      font-size: 3rem;
    }

    .line-1, .line-2, .line-3, .line-4 {
      display: block;
      font-size: 1.25rem;
    }

    .three-dots {
      display: none;
    }

    .mail-div {
      grid-column: 1 / 2 span;
      grid-row: 3;
      margin: 3rem 3rem 0 3rem;
    }

    .mail-signup {
      padding: 3rem 10rem 3rem 10rem;
    }

    /* Footer */
    .footer-div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 12rem 0 12rem;
    }

    .social-media-div {
      grid-column: 1 / 1 span;
    }

    .footer-links-div {
      grid-column: 2 / 1 span;
    }

    .footer-links-div ul {
      display: block;
    }

    .footer-links2-div ul {
      display: block;
    }

    footer ul li {
      border-left: 0;
      padding: 0;
    }

    .footer-links2-div {
      grid-column: 3 / 1 span;
    }

    .bottom-div {
      margin: 1rem 0 0 0;
      border-top: 0.05rem solid #1C1C1C;
      grid-column: 1 / 3 span;
      grid-row-start: 3;
    }

    /* Recording Index */

    .recordingindex-div {
      grid-column: 1 / 2 span;
    }

    .recording-text {
      text-align: center;
    }

    .recording-text p {
      letter-spacing: 1rem;
      cursor: pointer;
    }

    .recording-text #band-name, #band-description {
      display: none;
    }

    #band-description {
      letter-spacing: 0;
    }

    /* Video Slider */

    #slider {
      grid-column: 1 / 2 span;
      width: 100%;
      margin: 0 auto;
    }

    #slider .containing-div {
      margin: 0;
    }

    #slider h2 {
      font-size: 1.5rem;
      border-top: 1px solid #1C1C1C;
      border-bottom: 0;
      padding: 0.5rem 0 0 0;
    }
}
